/* HeroDetailComponent's private CSS styles */

img {
    width : 250px ;
}

a {
    text-decoration : none ;
    color : black ;
}

p {
    margin : 0 ;
}

span {
    color : #435960 ;
    font-weight : bold ;
}

button {
    padding : 1rem 0 ;
    width : 150px ;
    border-radius : 4px ;
    background-color : #eee ;
    font-size : 1rem ;
}

button:hover, a:hover {
    background-color : #cfd8dc ;
}

button:disabled {
    background-color : #eee ;
    color : #ccc ;
    cursor : auto ;
}

#detailArme {
    border : 2px solid #369 ;
    border-radius : 10px ;
    display : flex ;
    flex-direction : column ;
    align-items : center ;
    width : 30% ;
    margin : 30px auto 0 auto ;
}

#sansImage {
    width : 250px ;
    height : 171px ;
    border : 1px solid #369 ;
    border-radius : 6px ;
    display : flex ;
    flex-direction : column ;
    justify-content : center ;
    align-items : center ;
    font-style: italic ;
    font-size: 0.95em ;
    color : #435960 ;
}

#partieDescription {
    margin : 20px 0 10px 0 ;
}

#description {
    --marge : 70px ;
    margin : 0 var(--marge) 0 var(--marge) ;
    font-size: 1.1em;
    text-align: justify;
    font-family : Helvetica, sans-serif ;
}

#descriptionVide {
    display : flex ;
    flex-direction : column ;
    justify-content : start ;
    align-items : center ;
    font-style: italic ;
    color : #435960 ;
}

#partiePoints {
    margin : 10px 60px 10px 0 ;
    display : flex ;
    font-size : 1.2em ;
}

#conteneurTextes {
    display : flex ;
    flex-direction : column ;
    align-items : end ;
}

#conteneurValeurs {
    display : flex ;
    flex-direction : column ;
    align-items : start ;
    margin-left : 5px ;
}

#partieBoutons {
    margin : 10px 0 30px 0 ;
    display : flex ;
    flex-direction : row ;
    align-items : center ;
}
