/* HeroesComponent's private CSS styles */

h1 {
    margin : 20px 0 ;
    text-align : center ;
}

button {
    display : block ;
    margin : 30px auto 0 ;
    padding : 1rem ;
    border-radius : 4px ;
    background-color : #eee ;
    font-size : 1rem ;
}

button a {
    text-decoration : none ;
    color : black ;
}

p#messageIntroduction {
    margin : 20px 0 30px 0 ;
    text-align : center ;
    font-size : 16px ;
    font-style: italic ;
    color : #435960 ;
}

#boutonsTri {
    margin : 30px 0 ;
    display : flex ;
    flex-direction : row ;
    justify-content : center ;
}

#boutonsTri button
{
    width : 230px ;
    margin : 0 10px ;
    padding : 1rem ;
    color : #3d3d3d ;
    background-color : #EEE ;
    border-radius : 4px ;
    border : none ;
}

#boutonsTri button:hover {
    color : white ;
    background-color : #405061 ;
}

#boutonsTri button:active {
    background-color : black ;
}

.heroes {
    margin : 20px auto ;
    list-style-type : none ;
    padding : 0 ;
    width : 15em ;
}

.heroes li {
    position : relative ;
    cursor : pointer ;
}

.heroes li:hover {
    left : .1em ;
}

.heroes a {
    color : #333 ;
    text-decoration : none ;
    background-color : #EEE ;
    margin : .5em ;
    padding : .3em 0 ;
    height : 1.6em ;
    border-radius : 4px ;
    display : block ;
    width : 100% ;
}

.heroes a:hover {
    color : #2c3a41 ;
    background-color : #e6e6e6 ;
}

.heroes a:active {
    background-color : #525252 ;
    color : #fafafa ;
}

.heroes .badge {
    display : inline-block ;
    font-size : small ;
    color : white ;
    background-color : #405061 ;
    padding : 0.8em 0.7em 0.8em 0.7em ;
    margin-right : .8em ;
    line-height : 1em ;
    position : relative ;
    left : -1px ;
    top : -4px ;
    min-width : 16px ;
    text-align : center ;
    border-radius : 4px 0 0 4px ;
}

.heroes .herosChoisi {
    color : forestgreen ;
    font-size : 1.5em ;
    font-weight : bold ;
    position : absolute ;
    top : 0 ;
    right : -190px ;
}

.heroes img {
    width : 30px ;
    position : absolute ;
    top : 2px ;
    right : 0 ;
}
