<div id="editionHeros" *ngIf="heros">

    <!-- Partie titre -->
    <div id="partieTitre">
        <!-- Création d'un héros (on peut forcément modifier son nom) -->
        <h1 *ngIf="creation"> Création de </h1>
        <input *ngIf="creation" [(ngModel)]="heros.name" placeholder="donnez un nom">
        <!-- Edition d'un héros précédemment créé (on peut modifier son nom) -->
        <h1 *ngIf="!creation && !heros.original"> Edition de </h1>
        <input *ngIf="!creation && !heros.original" [(ngModel)]="heros.name" placeholder="donnez un nom">
        <!-- Edition d'un héros original (on ne peut pas modifier son nom) -->
        <h1 *ngIf="!creation && heros.original"> Edition de {{ heros.name }} </h1>
    </div>

    <!-- Partie image -->
    <div>
        <!-- Le héros a une image -->
        <div *ngIf="heros.image">
            <img src="{{heros.image}}" alt=""/>
        </div>
        <!-- Le héros n'a pas d'image -->
        <div *ngIf="!heros.image">
            <div id="sansImage"> <p> Chargez une image </p> </div>
        </div>
    </div>

    <!-- Partie description -->
    <div id="partieDescription">
        <!-- Création d'un héros (on peut forcément modifier sa description) -->
        <textarea *ngIf="creation" [(ngModel)]="heros.description" cols="35" rows="4" placeholder="Donnez une description à votre héros (facultatif)"> </textarea>
        <!-- Edition d'un héros précédemment créé (on peut modifier son nom) -->
        <textarea *ngIf="!creation && !heros.original" [(ngModel)]="heros.description" cols="35" rows="4" placeholder="Donnez une description à votre héros (facultatif)"> </textarea>
        <!-- Edition d'un héros original (on ne peut pas modifier sa description) -->
        <div *ngIf="!creation && heros.original" id="description"> {{ heros.description }} </div>
    </div>

    <!-- Partie description -->
    <div id="partiePoints">
        <div id="conteneurTextes">
            <div> <span> Points de vie </span> </div>
            <div> <span> Points d'attaque </span> </div>
            <div> <span> Points d'esquive </span> </div>
            <div> <span> Points de dégâts </span> </div>
        </div>
        <div id="conteneurValeurs">
            <input id="points-heros" type=number [(ngModel)]="heros.points" placeholder="points de vie" size="1">
            <input id="attaque-heros" type=number [(ngModel)]="heros.attaque" placeholder="points d'attaque" size="1">
            <input id="esquive-heros" type=number [(ngModel)]="heros.esquive" placeholder="points d'esquive" size="1">
            <input id="degats-heros" type=number [(ngModel)]="heros.degats" placeholder="points de dégâts" size="1">
        </div>
    </div>
    <div *ngIf="!arePointsValides()">
        <div id="messageHerosInvalide"> Ce héros n'est pas conforme ! <br> Donnez-lui les bonnes caractéristiques </div>
    </div>

    <!-- Partie boutons -->
    <div id="partieBoutons">
        <button type="button" (click)="retour()"> Retour </button>
        <button type="button" (click)="sauvegarde()"> Sauvegarde </button>
        <button *ngIf="!heros.original && !creation" type="button" (click)="suppression()"> Suppression </button>
        <p *ngIf="heros.original"> Vous ne pouvez pas supprimer ce héros </p>
    </div>


</div>
