<div id="detailHeros" *ngIf="heros">

    <h1> {{ heros.name }} </h1>
    <span id="herosChoisi" *ngIf="isCeHerosLeHerosChoisi()"> Heros choisi ! </span>

    <!-- Partie image -->
    <div id="partieImage">
        <!-- Le héros a une image -->
        <div *ngIf="heros.image">
            <img src="data:image/png;base64, {{heros.image}}" alt=""/>
        </div>
        <!-- Le héros n'a pas d'image -->
        <div *ngIf="!heros.image">
            <div id="sansImage">
                <p> Ce personnage n'a pas d'image </p>
                <p> Editez-le pour lui en donner une </p>
            </div>
        </div>
    </div>

    <!-- Partie description -->
    <div id="partieDescription">
        <!-- Le héros a une description -->
        <div *ngIf="heros.description" id="description"> {{ heros.description }} </div>
        <!-- Le héros n'a pas de description -->
        <div *ngIf="!heros.description" id="descriptionVide">
            <p> Ce personnage n'a pas de description </p>
            <p> Editez-le pour lui en donner une </p>
        </div>
    </div>

    <!-- Partie points -->
    <div id="partiePoints">
        <div id="conteneurTextes">
            <div> <span> Points de vie : </span> </div>
            <div> <span> Points d'attaque : </span> </div>
            <div> <span> Points d'esquive : </span> </div>
            <div> <span> Points de dégâts : </span> </div>
        </div>
        <div id="conteneurValeurs">
            <div> {{ heros.points }} </div>
            <div> {{ heros.attaque }} </div>
            <div> {{ heros.esquive }} </div>
            <div> {{ heros.degats }} </div>
        </div>
    </div>

    <!-- Partie arme associée au héros -->
    <div id="partieArme">
        <div> <span> Arme du héros : </span> </div>
        <div id="reponseArmeExistante" *ngIf="arme">
            {{ arme.name }}
            <img src="data:image/png;base64, {{arme.image}}" alt=""/> </div>
        <div id="reponseArmeInexistante" *ngIf="!arme">
            Ce personnage n'a pas d'arme <br> Editez-le pour lui en donner une
        </div>
    </div>

    <!-- Partie boutons -->
    <div id="partieBoutons">
        <div id="partieBoutonsDuHaut">
            <button type="button" (click)="retour()"> Retour </button>
            <button> <a routerLink="/editionHeros/{{heros.id}}"> Editer le héros </a> </button>
        </div>
        <div id="partieBoutonDuBas">
            <button type="button" (click)="choisirHeros()"> {{ texteBoutonChoixHeros() }} </button>
        </div>
    </div>
</div>
